a {
  color: #1772d0;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #f09228;
  text-decoration: none;
}

li {
  margin: 10px 0;
}

.name {
  font-weight: bold;
  padding-top: 20px;
  margin: 0;
  font-size: 32px;
}