
I was a Bilibili creator (id: <a href=https://space.bilibili.com/363956974>香辣鸡排蛋包饭</a>, in English: <i>spicy crispy chicken cutlet omelette rice</i>) teaching top interview questions with drawings and coding. My content has garnered over 5,700 subscribers and 250,000+ views.
I am documenting my thoughts and solutions to LeetCode problems on <a href="{{ '/leetcode/' | prepend: site.baseurl}}">this page</a>.

<p></p>